#  /Laptops

In [1]:
import json,pandas,glob #Appending all the products info from multiple JSON files to single dataframe
import os.path

read_files = glob.glob("Data/laptops/*.json")
Final_Laptops = pandas.DataFrame()
for i in range(0,len(read_files)):
    with open(read_files[i], 'rb') as x:
        JSONFILE = json.load(x)
    prod = JSONFILE['ProductInfo']
    Review = JSONFILE['Reviews']
    #d1.append(prod)
    #d2.append(Review)
    Reviews = pandas.DataFrame(Review)
    Products = pandas.DataFrame(prod, index = Reviews.index)
    merge = pandas.concat([Reviews, Products.ProductID, Products.Name], axis=1,join = 'inner')
    Final_Laptops = pandas.concat([Final_Laptops,merge])
    
Final_Laptops.head()

,Author,Content,Date,Name,Overall,ProductID,ReviewID,Title
0,"Walt Baty ""Walt 0000""","Google is on to something here, but without a ...","January 10, 2012",None,5.0,1440490899,RUSGOFLB5XRWR,The most underrated and un-hyped new system
1,"Poor Audiophile ""Poor Audiophile""",This is a great intro. to the subject of Chrom...,"January 30, 2012",None,5.0,1440490899,RAM6A980S6YMK,Excellent!!
2,"William B. Rodgers ""peterodgers""",not just a how to book but more about: 1. wher...,"December 17, 2011",None,5.0,1440490899,R1DP7TCV8WOPMA,important chromebook resource
3,Snowbirds,I have experience with almost every OS out the...,"September 23, 2012",None,5.0,1440490899,R212K0UDHZY44A,Could be a life changer
4,KWL,Disappointed. I bought this after I got my AR...,"December 4, 2012",None,1.0,1440490899,R6GIPSHI7QUUY,Not useful if you know about the Internet

In [2]:
Final_DF = Final_Laptops.set_index('ProductID')

In [3]:
Final_DF_notnull = Final_DF[Final_DF['Name'].notnull()]

In [4]:
Final_DF_null = Final_DF[Final_DF['Name'].isnull()]

In [6]:
from textblob import TextBlob, Word

x = TextBlob(Final_DF.Content[0])

p_of_s = x.tags #parts of speech tags

len(x.words) #word count

x.sentiment #shows pos and neg score

NameError: name 'textblob' is not defined

In [6]:
Final_DF_notnull.Title.head()

ProductID
B00005RI8P            Basic 500 MHz iBook
B00005RI8P                           poor
B00005RI8P    HOW TO OPERATE THIS LAPTOP.
B00005RI8P          My Favorite Computer!
B00005RI8P                 Great Computer
Name: Title, dtype: object

In [7]:
neg_words = pandas.read_csv('Data/negative-words.txt')
neg_words['Tag'] = 'Negative'
pos_words = pandas.read_csv('Data/positive-words.txt')
pos_words['Tag'] = 'Postive'
neg_words.to_csv('Data/neg_words.csv', index = None)
pos_words.to_csv('Data/pos_words.csv', index = None)

In [8]:
import glob

read_files = glob.glob("Data/*.csv")

with open("wordlist.csv", "wb") as outfile:
    for f in read_files:
        with open(f, "rb") as infile:
            outfile.write(infile.read())

In [ ]:
from textblob.classifiers import NaiveBayesClassifier

with open('wordlist.csv', 'r') as fp:
     cl = NaiveBayesClassifier(fp, format="csv")

### At this point I am getting an error to train the classifier with positive and negative words and apply on Title/Content column to know if the review is positive or not

In [8]:
Final_DF_notnull.count()

Author      20642
Content     20666
Date        20669
Name        20670
Overall     20670
ReviewID    20670
Title       20670
dtype: int64

In [9]:
Final_DF_notnull.Name[:5]

ProductID
B00005RI8P    Apple iBook Laptop (600-MHz PowerPC G3, 128 MB...
B00005RI8P    Apple iBook Laptop (600-MHz PowerPC G3, 128 MB...
B00005RI8P    Apple iBook Laptop (600-MHz PowerPC G3, 128 MB...
B00005RI8P    Apple iBook Laptop (600-MHz PowerPC G3, 128 MB...
B00005RI8P    Apple iBook Laptop (600-MHz PowerPC G3, 128 MB...
Name: Name, dtype: object

In [15]:
Makes = Final_DF_notnull['Name'].str.split().str.get(0)

Makes_DF = Makes.to_frame('Make')

Makes_DF[:5]

             Make
ProductID
B00005RI8P  Apple
B00005RI8P  Apple
B00005RI8P  Apple
B00005RI8P  Apple
B00005RI8P  Apple

In [28]:
Final_DF_notnull = pandas.concat([Final_DF_notnull, Makes_DF], axis=0)

Final_DF_notnull[:5]

,Author,Content,Date,Make,Name,Overall,ReviewID,Title
ProductID,,,,,,,,
B00005RI8P,"R. G. Michel ""rgmichel""","I bought the one with a 20 GB hard drive, and ...","November 25, 2001",Apple,"Apple iBook Laptop (600-MHz PowerPC G3, 128 MB...",5.0,R1S40LH7VR7LZA,Basic 500 MHz iBook
B00005RI8P,"R. G. Michel ""rgmichel""","I bought the one with a 20 GB hard drive, and ...","November 25, 2001",Apple,"Apple iBook Laptop (600-MHz PowerPC G3, 128 MB...",5.0,R1S40LH7VR7LZA,Basic 500 MHz iBook
B00005RI8P,"R. G. Michel ""rgmichel""","I bought the one with a 20 GB hard drive, and ...","November 25, 2001",Apple,"Apple iBook Laptop (600-MHz PowerPC G3, 128 MB...",5.0,R1S40LH7VR7LZA,Basic 500 MHz iBook
B00005RI8P,"R. G. Michel ""rgmichel""","I bought the one with a 20 GB hard drive, and ...","November 25, 2001",Apple,"Apple iBook Laptop (600-MHz PowerPC G3, 128 MB...",5.0,R1S40LH7VR7LZA,Basic 500 MHz iBook
B00005RI8P,"R. G. Michel ""rgmichel""","I bought the one with a 20 GB hard drive, and ...","November 25, 2001",Apple,"Apple iBook Laptop (600-MHz PowerPC G3, 128 MB...",5.0,R1S40LH7VR7LZA,Basic 500 MHz iBook